{% load static %}
<!-- footer call to action area start -->
<div class="footer-callto-action-area bg-light-1 mt_sm--50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="call-to-sction style-three bg_image">
                    <h2 class="title">Regístrate hoy y se el primero en <br>
                        acceder a nuestras ofertas exclusivas</h2>
                    <form action="#" class="cta-form">
                        <input type="text" placeholder="Ingresa tu correo..." required>
                        <button class="rts-btn btn-primary">Subscríbete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt--105 pb--70">
        <div class="row">
            <div class="col-lg-12">
                <!-- footer main wrapper -->
                <div class="footer-one-main-wrapper">
                    <!-- single sized  footer  -->
                    <div class="footer-singl-wized left-logo">
                        <div class="head">
                            <a href="#">
                                <img src="static/images/logo/wepik-linear-doodle-academy-public-school-logo-20240428034937tqNk-removebg-preview.png" alt="logo" loading="lazy">
                            </a>
                        </div>
                        <div class="body">
                            <p class="dsic">
                                Somos apasionados de la educación y nos dedicamos a proporcionar recursos de alta
                                calidad a todos nuestros alumnos.
                            </p>
                            <ul class="wrapper-list">
                                <li><i class="fa-regular fa-location-dot"></i>Región Metropolitana, Santiago, Chile
                                </li>
                                <li><a href="call-to:61485826710"><i class="fa-regular fa-phone"></i>+(569)
                                        0120 1244</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sized  footer end -->
                    <!-- single sized  footer  -->
                    <div class="footer-singl-wized">
                        <div class="head">
                            <h6 class="title">Quick Links</h6>
                        </div>
                        <div class="body">
                            <ul class="menu">
                                <li><a href="#">Latest Courses</a></li>
                                <li><a href="#">Mission & Vision</a></li>
                                <li><a href="#">Join a Carrer</a></li>
                                <li><a href="#">Our Approach</a></li>
                                <li><a href="#">Pricing Plan</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sized  footer end -->
                    <!-- single sized  footer  -->
                    <div class="footer-singl-wized">
                        <div class="head">
                            <h6 class="title">Explore</h6>
                        </div>
                        <div class="body">
                            <ul class="menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Upcoming Events</a></li>
                                <li><a href="#">Blog & News</a></li>
                                <li><a href="#">FAQ Question</a></li>
                                <li><a href="#">Course</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sized  footer end -->
                    <!-- single sized  footer  -->
                    <div class="footer-singl-wized input-area">
                        <div class="head">
                            <h6 class="title">Boletín</h6>
                        </div>
                        <div class="body">
                            <p class="disc">Suscríbete a nuestro boletín para estar al día de nuestros nuevos cursos
                            </p>
                            <form action="#">
                                <div class="input-area-fill">
                                    <input type="email" placeholder="Ingresa tu correo" required>
                                    <button> Subscríbete</button>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="exampleCheck1">
                                    <label for="exampleCheck1">Acepto las condiciones de uso y la política de
                                        privacidad.</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- single sized  footer end -->
                </div>
                <!-- footer main wrapper end -->
            </div>
        </div>
    </div>
    <div class="copyright-area-one-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-one">
                        <p>Copyright © 2024 Todos los derechos reservados por Preuniversitario Online Rumbo a la U
                        </p>
                        <div class="social-copyright">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer call to action area end -->